<head>
  <!--materialize tags-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<div class="raised-block rounded">
  <div clss="container">
    <div class="row">
      <h2>Tasks for - {{displayDate}}</h2>
    </div>
    <div class="row">
      <h3>Points - {{currentUser.points}}</h3>
    </div>
    <div class="row">
      <span>
        <button id=addButton class="btn btn-sm btn-primary float-left" (click)="prev()">Previous</button>
      </span>
      <span>
        <button id=addButton class="btn btn-sm btn-primary float-left" (click)="next()">Next</button>
      </span>
      <br>
      <br>
    </div>
    <!-- This is the  Task List-->
    <div class="list-group mx-auto" *ngFor="let task of taskList; let i = index">
      <div class="list-group-item list-group-item-action" style="background-color: #d3d3d3;">
        <div class="row">
          <div class="col-sm-4">
            {{ task.name }}
          </div>
          <div class="col-sm-4">

            <label>
                <input type="checkbox" (change)="makeComplete($event.target.checked, i)" value="Complete" name="taskComplete">
                <span>Complete</span>
            </label>
            
            <!-- <input type="checkbox" (change)="isChangeLimitAccessToggle($event.target.checked ? 'on' : 'off')" id="ifLimitAccess" class="switch-input"> -->
          </div>
          <div class="col-sm-4">
            Task is worth <span id="points">{{ task.points }}</span>
            <div class="float-right">
              <div id="editbuttons">    
                <button id="editbuttons" (click)="openDialog(task, true)" id="link-button">Edit</button>
                &nbsp;
                <button id="editbuttons" (click)="openDialog(task, false)" id="link-button">Del</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- End of the Task List-->
    <div class="row">
      <h3>Completed Tasks</h3>
    </div>
    <!-- This is the completed Task List-->
    <div class="list-group mx-auto" *ngFor="let task of completedTaskList; let i = index">
      <div class="list-group-item list-group-item-action" style="background-color: lightgreen;">
        <div class="row">
          <div class="col-sm-4">
            {{ task.name }}
          </div>

          <label>
              <input type="checkbox" (change)="makeUnComplete($event.target.checked, i)" value="Complete" name="taskComplete" checked>
              <span>Complete</span>
          </label>

          <div class="col-sm-4">
            Task is worth <span id="points">{{ task.points }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End of the completed Task List-->
  </div>
  <br />
  <h3>Add Task</h3>

  <div class="raised-block rounded">
    <div class="list-group mx-auto">
      <div class="list-group-item list-group-item-action" style="background-color: #d3d3d3;">
        <div clss="container">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Enter task name" [(ngModel)]="addTask.name">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose start date"
                  [(ngModel)]="addTask.startdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Choose end date" [(ngModel)]="addTask.enddate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput placeholder="Enter points" [(ngModel)]="addTask.points">
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
        <button id=addButton class="btn btn-sm btn-primary" (click)="OnAddTask()">Add Task</button>

      </div>
    </div>
    <br />


  </div>
</div>