<!-- this gives the tool tip to a button or icon-->
<script type="text/javascript">
  $(function () {
    $("[rel='tooltip']").tooltip();
  });

</script>

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a> 
        <a class="nav-item nav-link" routerLink="calendar">Calendar</a>    
        <a class="nav-item nav-link" routerLink="rewards">Rewards</a>   
        <a class="nav-item nav-link" routerLink="rewards2">Rewards2</a>  
    </div>
    <div class="navbar-nav  ml-auto">
        <a class="nav-item nav-link" routerLink="userprofile" rel="tooltip" title="Edit Profile">
            <img src="assets/img/baseline_account_circle_white_18dp.png">
        </a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
       <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link">Left Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Left Link 2</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link">Right Link 1</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> Dropdown on Right</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
            </div>
        </li>
    </ul> -->
</nav>
<!-- main app container -->

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="masthead clearfix">
        <div class="container inner">
          <br />
          <br />
        </div>
      </div>

      <div class="inner cover">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>



    </div>

  </div>

</div>
