<!-- this gives the tool tip to a button or icon-->
<script type="text/javascript">
  $(function () {
    $("[rel='tooltip']").tooltip();
  });

</script>

<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Retask</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="nav-item nav-link" routerLink="/">Home</a> 
        <a class="nav-item nav-link" routerLink="calendar">Calendar</a>    
        <a class="nav-item nav-link" routerLink="tasks">Tasks</a>
        <a class="nav-item nav-link" routerLink="rewards2">Rewards</a>  
          </ul>
    <div class="navbar-nav  ml-auto">
        <a class="nav-item nav-link" routerLink="userprofile" rel="tooltip" title="Edit Profile">
            <i class="large material-icons">account_box</i>
        </a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    </div>
    
</nav>
<!-- main app container -->

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

     
      <div class="inner cover">
        <br/>
        <alert></alert>
        <router-outlet></router-outlet>
      </div>



    </div>

  </div>

</div>
