  @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
  .responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
    
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
  }


  *:not(i) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  } 

  #changePic {
    cursor: pointer;
  }

  #changePic:hover {
    color: rgb(196, 196, 196);
  }

.profile {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#mainContainer {
  background-color: white;
}

.btn-warning {
  background-color: rgb(218, 58, 58);
}

.btn-warning:hover {
  background-color: rgb(255, 128, 128);
  color: white;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}