  @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
  .responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
    
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
  }


  *:not(i) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  } 

  #changePic {
    cursor: pointer;
  }

  #changePic:hover {
    color: rgb(196, 196, 196);
  }

.profile {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#mainContainer {
  background-color: white;
}

.btn-warning {
  background-color: rgb(218, 58, 58);
}

.btn-warning:hover {
  background-color: rgb(255, 128, 128);
  color: white;
}