<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: blue;
    }

    p {
        color: red;
        text-align: center;
    }
</style>
<div *ngIf="data.edit;  else elseBlock">
    <h1 mat-dialog-title>Edit Reward</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput [(ngModel)]="data.reward.name" placeholder="Reward Name">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="data.reward.descr" placeholder="Description">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="data.reward.cost" placeholder="Cost">
        </mat-form-field>

        <div>
            <!-- <a (click)="file.click()"> -->
            <!-- <img  class="card-img-top" [src]="data.reward.uploads[0].url" alt="Card image cap"> -->
            <label for="file" class="mat-button"><img class="card-img-top" [src]="data.reward.uploads[0].url"
                    alt="Card image cap"></label>
            <input type="file" id="file" (change)="onFileSelected($event)" accept="image/*" hidden="true">
            <!-- </a> -->
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    </div>
</div>
<ng-template #elseBlock>
    <!-- This is the Delete  -->
    <div *ngIf="data.deleteReward;  else elseAddBlock">
        <!-- <h1 mat-dialog-title>Delete Reward</h1> -->
        <div mat-dialog-content>
            <!-- <mat-form-field>
                <input matInput [(ngModel)]="data.deleteReward" placeholder="Reward Name">
            </mat-form-field> -->
            <!-- <div mat-dialog-actions> -->
                Delete reward?
                <br>
                <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Yes</button>
                <button mat-button (click)="onNoClick()">No</button>
            <!-- </div> -->
        </div>
    </div>
    <!-- This is the Add  -->
    <ng-template #elseAddBlock>
        <h1 mat-dialog-title>Add Reward</h1>
        <div mat-dialog-content>
            <mat-form-field>
                <input matInput [(ngModel)]="data.reward.name" placeholder="Reward Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.reward.descr" placeholder="Description">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="data.reward.cost" placeholder="Cost">
            </mat-form-field>

            <div>
                <!-- <a (click)="file.click()"> -->
                <!-- <img  class="card-img-top" [src]="data.reward.uploads[0].url" alt="Card image cap"> -->
                <label for="file" class="mat-button"><img class="card-img-top" [src]="data.reward.uploads[0].url"
                        alt="Card image cap"></label>
                <input type="file" id="file" (change)="onFileSelected($event)" accept="image/*" hidden="true">
                <!-- </a> -->
            </div>

        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
        </div>
    </ng-template>




</ng-template>