<!-- <img class="card-img-top" src="https://images.pexels.com/photos/209424/pexels-photo-209424.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap"> -->
<h1>Rewards Page</h1>
Points {{currentUser.points}}
<div *ngIf="pageLoading">
  page loading ....
</div>

<!-- If the page is loaded but they want to add rewards then show this section -->
<div clss="container">
  <div *ngIf="addReward && !pageLoading">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary float-right" (click)="addRewards()">Cancel</button>
        <br>
        <br>
        <div class="example-container">
          <h2>Default Rewards</h2>

          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>My Rewards List</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- If the page is loaded and they are not adding rewards then show the rewards -->
  <div *ngIf="!pageLoading && !addReward">

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary float-right" (click)="addRewards()">Add Rewards</button>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <button *ngIf="pageCnt>0 && page>0;" class="btn"><i class="fa fa-backward" (click)="goBackward()"></i></button>
      </div>
      <div class="col-sm-10">
        <div class="card-deck">
          <div class="row">
            <div class="col-sm-4">
              <div class="card" *ngIf="pageCnt>0">
                <img class="card-img-top" [src]="rewardsIn[cnt].uploads[0].url" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{rewardsIn[cnt].name}}</h5>
                  <p class="card-text">{{rewardsIn[cnt].descr}}
                    <br><br>Cost: {{rewardsIn[cnt].cost}} points
                  </p>
                  <button class="btn btn-primary"
                  [disabled]="cantBuy[cnt]">Get Reward</button>
                  <a href="#" class="btn btn-primary float-right">Share</a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="progressIn[cnt] + '%'" 
                      [attr.aria-valuenow]="progressIn[cnt]"
                      aria-valuemin="0" [attr.aria-valuemax]="100">{{progressIn[cnt]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" *ngIf="pageCnt>1">
                <img class="card-img-top" [src]="rewardsIn[cnt+1].uploads[0].url" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{rewardsIn[cnt+1].name}}</h5>
                  <p class="card-text">{{rewardsIn[cnt+1].descr}}
                    <br><br>Cost: {{rewardsIn[cnt+1].cost}} points</p>
                  <div>
                      <button class="btn btn-primary"
                      [disabled]="cantBuy[cnt+1]">Get Reward</button>
                    <a href="#" class="btn btn-primary float-right">Share</a>
                  </div>

                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="progressIn[cnt+1] + '%'"
                     aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100">{{progressIn[cnt+1]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" *ngIf="pageCnt>2">
                <img class="card-img-top" [src]="rewardsIn[cnt+2].uploads[0].url" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{rewardsIn[cnt+2].name}}</h5>
                  <p class="card-text">{{rewardsIn[cnt+2].descr}}
                    <br><br>Cost: {{rewardsIn[cnt+2].cost}} points</p>
                    <button class="btn btn-primary"
                    [disabled]="cantBuy[cnt+2]">Get Reward</button>
                  <a href="#" class="btn btn-primary float-right">Share</a>

                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="progressIn[cnt+2] + '%'" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100">{{progressIn[cnt+2]}}%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-1">
        <button *ngIf="(totPageCnt-1)>page;" class="btn"><i class="fa fa-forward" (click)="goFoward()"></i></button>
      </div>
    </div>

  </div>
</div>