
<!-- <img class="card-img-top" src="https://images.pexels.com/photos/209424/pexels-photo-209424.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap"> -->
<div class="titleContainer">
  <h2>My Rewards</h2>
  <h4><i>Available Points: {{currentUser.points}}</i></h4>
  <div *ngIf="pageLoading">
    <h5> page loading .... </h5>
  </div>
</div>

<!-- If the page is loaded but they want to add rewards then show this section -->
<div clss="container">
  <div *ngIf="addReward && !pageLoading">
    <div class="row">
      <div class="col-sm-12">


        <div class="raised-block rounded">

          <div class="row">
            <div class="col-sm-3">
              <label for="rewardName">Reward Name </label>
              <br>
              <input type="text" [(ngModel)]="rewardToAdd.name" default="reward name" />
            </div>
            <div class="col-sm-3">
              <label for="rewardName">Reward Description </label>
              <br>
              <input type="text" [(ngModel)]="rewardToAdd.descr" />
            </div>
            <div class="col-sm-3">
              <label for="rewardName">Cost</label>
              <br>
              <input type="text" [(ngModel)]="rewardToAdd.cost" />
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-sm-12">
              <input type="file" id="file" (change)="onFileSelected($event)" accept="image/*">
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-6">
              <div class="saveCancel">
                <!-- <span> -->
                <button id=addButton class="btn btn-sm btn-primary" (click)="createReward()">Save</button>
                <!-- </span> -->
                <!-- <span> -->
                <button id=addButton class="btn btn-sm btn-primary" (click)="addRewards()">Cancel</button>
                <!-- </span> -->
              </div>
            </div>
          </div>
        </div>

        <!-- when we implement drag and drop -->
        <!-- <div *ngIf="addReward && !pageLoading && usingDragDrop">
          <div class="example-container">
            <h2>Default Rewards</h2>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="defautRewards"
              [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of defautRewards" cdkDrag>{{item.name}}</div>
            </div>
          </div>

          <div class="example-container">
            <h2>My Rewards List</h2>

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="rewardsIn" [cdkDropListConnectedTo]="[todoList]"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of rewardsIn" cdkDrag>{{item.name}}</div>
            </div>
          </div>
        </div> -->
        <!-- end of drag and drop functionality -->
      </div>
    </div>
  </div>

  <!-- If the page is loaded and they are not adding rewards then show the rewards -->
  <div *ngIf="!pageLoading">

    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="!addReward">
          <div class="addRewards">
            <button class="btn btn-sm btn-primary" (click)="addRewards()">Add Rewards</button>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <button *ngIf="pageCnt>0 && page>0;" class="btn btn-sm btn-outline-primary"><i class="fa fa-backward"
            (click)="goBackward()"></i></button>
      </div>



      <!-- first card -->

      <div class="col-sm-10">
        <div class="card-deck">
          <div class="row">
            <div class="col-sm-4">
              <div class="card" *ngIf="pageCnt>0">
                <button class="btn btn-outline-primary btn-sm"(click)="deleteReward(rewardsIn[cnt])">
                  <i class="fa fa-times float-left"></i>
                </button>
                <button class="btn  btn-sm" class="edit" (click)="openDialog(rewardsIn[cnt], true, false)"><i
                    class="fa fa-fw fa-pencil float-left"></i></button>

                <img class="card-img-top" [src]="rewardsIn[cnt].uploads[0].url" alt="Card image cap">

                <div class="card-body">

                  <h5 class="card-title">
                    {{rewardsIn[cnt].name}}
                  </h5>
                  <p class="card-text">
                    {{rewardsIn[cnt].descr}}

                    <br><br>
                    Cost: {{rewardsIn[cnt].cost}} points
                    <br>

                    <div class="redeemButton">
                      <button class="btn btn-primary" [disabled]="cantBuy[0]"
                        (click)="redeem(rewardsIn[cnt].cost)">Redeem</button>
                    </div>
                </div>
              </div>
            </div>


            <!-- second card -->

            <div class="col-sm-4">
              <div class="card" *ngIf="pageCnt>1">
                <button class="btn btn-outline-primary btn-sm" (click)="deleteReward(rewardsIn[cnt+1])">
                  <i class="fa fa-times float-left"></i>
                </button>
                <button class="btn  btn-sm" class="edit" (click)="openDialog(rewardsIn[cnt+1], true, false)"><i
                    class="fa fa-fw fa-pencil float-left"></i></button>

                <img class="card-img-top" [src]="rewardsIn[cnt+1].uploads[0].url" alt="Card image cap">

                <div class="card-body">

                  <h5 class="card-title">
                    {{rewardsIn[cnt+1].name}}
                  </h5>

                  <p class="card-text">
                    {{rewardsIn[cnt+1].descr}}

                    <br><br>
                    Cost: {{rewardsIn[cnt+1].cost}} points
                    <br />

                    <div class="redeemButton">
                      <button class="btn btn-primary" [disabled]="cantBuy[1]"
                        (click)="redeem(rewardsIn[cnt+1].cost)">Redeem</button>
                    </div>

                </div>
              </div>
            </div>


            <!-- third card -->

            <div class="col-sm-4">
              <div class="card" *ngIf="pageCnt>2">
                <button class="btn btn-outline-primary btn-sm" (click)="deleteReward(rewardsIn[cnt+2])">
                  <i class="fa fa-times float-left"></i>
                </button>
                <button class="btn  btn-sm" class="edit" (click)="openDialog(rewardsIn[cnt+2], true, false)"><i
                    class="fa fa-fw fa-pencil float-left"></i></button>

                <img class="card-img-top" [src]="rewardsIn[cnt+2].uploads[0].url" alt="Card image cap">

                <div class="card-body">

                  <h5 class="card-title">
                    {{rewardsIn[cnt+2].name}}
                  </h5>

                  <p class="card-text">
                    {{rewardsIn[cnt+2].descr}}

                    <br><br>
                    Cost: {{rewardsIn[cnt+2].cost}} points
                    <br />

                    <div class="redeemButton">
                      <button class="btn btn-primary" [disabled]="cantBuy[2]"
                        (click)="redeem(rewardsIn[cnt+2].cost)">Redeem</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <button *ngIf="(totPageCnt-1)>page;" class="btn btn-outline-primary btn-sm"><i class="fa fa-forward"
            (click)="goFoward()"></i></button>
      </div>

    </div>
  </div>

</div>


