<div class="row justify-content-md-center align-text-top" id="header">
  <div *ngIf="!pageLoading">
    <div class="col-md-auto">
      <br />
      <h1>Welcome to ReTask, {{ currentUser.firstName }}!</h1>
      <br />
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="raised-block rounded">
          <br />
          <h2>Rewards Overview</h2>
          <br />
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#">
                  <div class="container rounded">
                    <img
                      class="d-block w-100 img-fluid center"
                      [src]="rewardList[cnt].uploads[0].url"
                      layout-fill
                    />
                  </div>
                </a>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              (click)="previous()"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              (click)="next()"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <h5 class="rounded">{{ rewardList[cnt].name }}</h5>
          <br />
          <div class="carousel-caption d-none d-md-block">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width]="progressIn[cnt + 2] + '%'"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ progressIn[cnt + 2] }}%
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>

      <div class="col-md-6">
        <div class="raised-block rounded">
          <br />
          <h2>Today's Tasks</h2>
          <br />

          <div
            class="list-group mx-auto"
            *ngFor="let task of taskList; let i = index"
          >
            <a
              href="#"
              class="list-group-item list-group-item-action"
              style="background-color: #d3d3d3;"
              >{{ task.name }} | Due in
              {{ task.enddate | date: "hh" }} hours!</a
            >
          </div>

          <!--div class="list-group mx-auto">
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
      </div> -->
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
