h2 {
  color: black;
} 


h1 {
  font-size: 3em;
}

#title {
  background-color: white;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.raised-block {
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: -0.625rem; 
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
@media (max-width: 33.9em){ 
  .raised-block {
      margin-left: -0.625rem;
  }
}
.row [class^="col-"]:first-child>.raised-block {
  margin-left: -0.625rem;
}

/* resize rewards images */



img {
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}

/*Desktops */
@media (min-width: 1281px) {
  
  .container {
    height: 400px;
    width: 800px;
    overflow:hidden;
    background-color: white;
  }
  
}

/* Mobile portrait */
@media (min-width: 320px) and (max-width: 480px) {
  
  .container {
    height: 150px;
    width: 300px;
    overflow:hidden;
    background-color: white;
  }
  
}