h2 {
  color: black;
} 


h1 {
  font-size: 3em;
}

#title {
  background-color: rgba(255, 255, 255, 0.507);
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.raised-block {
  background-color: rgba(255, 255, 255, 0.486);
  text-align: center;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: -0.625rem; 
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
@media (max-width: 33.9em){ 
  .raised-block {
      margin-left: -0.625rem;
  }
}
.row [class^="col-"]:first-child>.raised-block {
  margin-left: -0.625rem;
}

/* resize rewards images */



img {
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}

/*Desktops */
@media (min-width: 1281px) {
  
  .container {
    height: 400px;
    width: 800px;
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0);
  }
  
}

/* Mobile portrait */
@media (min-width: 320px) and (max-width: 480px) {
  
  .container {
    height: 150px;
    width: 300px;
    overflow:hidden;
    background-color: white;
  }
  
}



.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



.text-focus-in {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 255, 255) transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
