<div class="container-fluid">
  <div class="row justify-content-md-center align-text-top">
    <div class="col-md-auto">
      <h1>Welcome to ReTask, {{currentUser.firstName}}!</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <br />
      <h2>Rewards Overview</h2>
    </div>
    <div class="col-md-auto">
      <br />
      <h2>Today's Tasks</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <br />
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1551334787-21e6bd3ab135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">25%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <br />
      <br />
      <div>
        <div class="square rounded border border-light"
          style="background-image: url('https://images.unsplash.com/photo-1550945233-716f16384ffd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
        </div>
        <br />
        <div class="square rounded border border-light"
          style="background-image: url('https://images.unsplash.com/photo-1547191084-52b07edfa63d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')">
        </div>
        <br />
        <div class="square rounded border border-light"
          style="background-image: url('https://images.unsplash.com/photo-1547214117-a112f358e61b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80')">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <br />
      <div class="list-group mx-auto">
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
        <a href="#" class="list-group-item list-group-item-action">Task (end time)</a>
      </div>
    </div>

  </div>
